body {
    background-image: url("../images/background.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-size: 1.25em;
}

h1, h2 {
    text-align: center;
    margin-bottom: 1em;
    color: maroon;
}

span {
    font-weight: bold;
}

button{
    background-color: rgb(226, 226, 226);
    border: groove;
    border-radius: 0.5em;
    font-size: 1rem;
    font-weight: 700;
}

#win-condition {
    text-align: center;
    font-weight: 600;
    font-size: 1.1em;
}

#game-container {
    background-color: rgba(250, 250, 250, 0.7);
    margin: 3em auto 3em auto;
    width: 70%;
    padding: 1em;
    border: outset lightgray;
    border-radius: 1em;
}

#play {
    background-color: maroon;
    color: white;
    padding: 0.20em 1em;
}

#in-game {
    display: none;
}

#mode-selection{
    text-align: center;
    margin: 2em 0em 2em 0em;
}

#game {
    border: solid gray;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row: auto auto;
    text-align: center;
    padding: 5em 2em 0.5em 2em;
    gap: 0.7em;
    margin-top: -1em;
    margin-bottom: 1em;
    font-weight: bold;
}

#box-A, #box-B, #box-C {
    height: 10em;
    border: solid rgb(105, 105, 105);
    border-top: none;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#player-moves {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   font-weight: 900;
}

#settings {
    text-align: center;
    margin-top: 3em;
}

#rules {
    width: 70%;
    margin: auto;
    margin-top: 2.5em;
    text-align: center;
    list-style: inside;
    font-weight: 600;
}

#rules li {
    text-align: justify;
}

.A {
    background-color: #f44336;
    color: white;
}

.B {
    background-color: #4CAF50;
    color: white;
}

.C {
    background-color: #2196F3;
    color: white;
}

.selected-mode {
    background-color: black;
    color: white;
}

.disk1 {
    background-color: #f44336;
    margin: 0em auto 0em auto;
    border-radius: 1em;
}

.disk2 {
    background-color: #ff9800;
    margin: 0em auto 0em auto;
    border-radius: 1em;
}

.disk3 {
    background-color: #E0E029;
    margin: 0em auto 0em auto;
    border-radius: 1em;
}

.disk4 {
    background-color: #4CAF50;
    margin: 0em auto 0em auto;
    border-radius: 1em;
}

.disk5 {
    background-color: #2196F3;
    margin: 0em auto 0em auto;
    border-radius: 1em;
}

.dialog-title {
    background-color: red !important;
    color: white !important;
}

@media screen and (max-width: 800px) {
    #rules {
      width: 100%;
      margin-left: -1em;
    }
    #game {
        padding: 1em 1em 0.5em 1em;
    }
    #player-moves {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap;
        font-weight: 900;
     }
     #game-container {
        margin: 1em auto 1em auto;
        width: 80%;}
  }

